body {
}

.grid-container {
	padding: 2em;
	background-color: gray;
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows: repeat (7, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 10px;
	}
	
.grid-item-head {
	padding: 1em;
	grid-column: 1/4;
	background-color: #FFFAE1;
	border: 5px;
	border-style: outset;
	border-color: #A0BBA2;
	}

#toplogo {
	display: flex;
  	justify-content: center;
 	align-items: center;
}


	
.grid-item-cor {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
	color: white;
	display: flex;
  	justify-content: center;
 	align-items: center;
 	padding: 5px;
 	margin: 1px;
	grid-row-start: 2;
	background-color: #BFC9CA;
	border-radius: 30px;
}
	
.grid-item-welcome {
	font-family: "arial", sans-serif;
	padding: 1em;
	font-size: 15px;
	grid-column-start: 2;
	grid-row-start: 2;
	background-color: #FFFAE1;
	border: 5px;
	border-style: outset;
	border-color: #A0BBA2;
	}

.heading {
	color:#04620B;
	font-weight: bold;
	font-size: 50px;
	font-family: "Amatic SC";
}	
	
.grid-item-faq {
	padding: 1em;
	grid-column-start: 3;
	grid-row-start: 2;
	grid-row-end: 5;
	background-color: #BFC9CA;
	border: 5px;
	border-style: outset;
	border-color: #A0BBA2;
	}
	
.accordion {
  background-color: #A0BBA2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 3px;
  border-style: solid;	
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
	
.grid-item-gal {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
	display: flex;
  	justify-content: center;
 	align-items: center;
 	padding: 5px;
  	margin: 1px;
	grid-column-start: 1;
	grid-row-start: 3;
	background-color: #BFC9CA;
	border-radius: 30px;
	}
	
.grid-item-logo {
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 2;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: #04620B;
	}
	
.grid-item-win {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
	display: flex;
  	justify-content: center;
 	align-items: center;
 	padding: 5px;
  	margin:1px;
	grid-column-start: 1;
	grid-row-start: 4;
	background-color: #BFC9CA;
	border-radius: 30px;
	}
	
.grid-item-ric {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
	display: flex;
  	justify-content: center;
 	align-items: center;
 	padding: 5px;
  	margin: 1px;
	grid-column-start: 1;
	grid-row-start: 5;
	background-color: #BFC9CA;
	border-radius: 30px;
	}
	
.grid-item-midtext {
	padding: 1em;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: #FFFAE1;
	border: 5px;
	border-style: outset;
	border-color: #A0BBA2;
	}
	
.grid-item-sidetext {
	padding: 1em;
	grid-column-start: 3;
	grid-row-start: 5;
	grid-row-end: 8;
	background-color: #FFFAE1;
	border: 5px;
	border-style: outset;
	border-color: #A0BBA2;
	}
	
.grid-item-pro {
	font-family: "Brush Script MT", cursive;
	background-color: #BFC9CA;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
 	margin: 1px;
	grid-column-start: 1;
	grid-row-start: 6;
	border-radius: 30px;
}
	
.grid-item-photo {
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 2;
	grid-row-start: 6;
	grid-row-end: 8;
	background-color: #BFC9CA;
	}
	
.grid-item-bb {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
	display: flex;
  	justify-content: center;
 	align-items: center;
 	padding: 5px;
  	margin: 1px;
	grid-column-start: 1;
	grid-row-start: 7;
	background-color: #BFC9CA;
	border-radius: 30px;
	}
