.grid-container {
	padding: 2em;
	background-color: gray;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat (7, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 10px;

	}
	
.grid-item-head {
	font-size: 40px;
	text-align: center;
	font-family: "Bradley Hand", cursive;
	grid-column: span 3;
	background-color: MediumSeaGreen;
	}
	
.grid-item-cor {
	font-family: "Brush Script MT", cursive;
	font-size: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-row-start: 2;
	background-color: #943939;
	}
	
.grid-item-welcome {
	padding: 1em;
	grid-column-start: 2;
	grid-row-start: 2;
	background-color: MediumSeaGreen;
	}
	
.grid-item-faq {
	padding: 1em;
	grid-column-start: 3;
	grid-row-start: 2;
	grid-row-end: 5;
	background-color: MediumSeaGreen;
	}
	
.grid-item-gal {
	font-family: "Trattatello", fantasy;
	font-size: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 1;
	grid-row-start: 3;
	background-color: #A30090;
	}
	
.grid-item-logo {
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 2;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: MediumSeaGreen;
	}
	
.grid-item-win {
	font-family: "OCR A Std", monospace;
	font-size: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
	background-color: #8DAB91;
	}
	
.grid-item-ric {
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 1;
	grid-row-start: 5;
	background-color: #F79D69;
	}
	
.grid-item-midtext {
	padding: 1em;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: MediumSeaGreen;
	}
	
.grid-item-sidetext {
	padding: 1em;
	grid-column-start: 3;
	grid-row-start: 5;
	grid-row-end: 8;
	background-color: MediumSeaGreen;
	}
	
.grid-item-pro {
	font-family: "Stencil Std", fantasy;
	background-color: black;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-start: 1;
	grid-row-start: 6;
}
	
.grid-item-photo {
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 2;
	grid-row-start: 6;
	grid-row-end: 8;
	background-color: MediumSeaGreen;
	}
	
.grid-item-bb {
	font-family: "Jazz LET", fantasy;
	font-size: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	grid-column-start: 1;
	grid-row-start: 7;
	background-color: #8F9EBE;
	}
