* {
	box-sizing: border-box;
}
body {
  background-image: url("prairie-unsplash.jpg");
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	height: 100vh;
	}


@font-face {
  	font-family: remnant;
 	src: url(remnant.ttf);
	}

.grid-container-head {
	font-family: remnant;
	text-align: center;
	font-size: 3em;
	border-style: solid;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	}

.grid-container-nav {
/*this is working. Don't change it*/
	list-style-type: none;
  	margin: 0;
 	padding: 0;
	background-color: #8A414C;
	border-style: solid;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	}

li a {
 	display: block;
 	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	}

ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
	overflow: hidden;
  	background-color: #333;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover {
  	background-color: #0B5345;
  	}
/*end of nav section*/

.grid-container-video {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	place-self: center;
	border-style: solid;
	border-color: green;
	border-width: 5px;
	}


.grid-container-goat {
 	grid-column-start: 2;
 	grid-row-start: 3;
 	grid-column-end: 4;
 	grid-row-end: 5;
 	z-index: -1;
	background-color: pink;
	place-self: center;
	border-style: solid;
	border-color: green;
	border-width: 5px;
	}
	
.grid-container-math-overlay {
	grid-column-start: 2;
 	grid-row-start: 3;
 	grid-column-end: 3;
 	grid-row-end: 4;
 	margin-left: 175px;
 	margin-top: 60px;
	position: relative;
	}


.grid-container-main-text {
 	grid-column-start: 4;
 	grid-row-start: 3;
 	grid-column-end: 5;
 	grid-row-end: 5;
 	background-color: orange;
	padding: 10px;
	border-style: solid;
	border-color: green;
	border-width: 5px;

	}

.grid-container-side-text {
 	grid-column-start: 1;
 	grid-row-start: 4;
 	grid-column-end: 2;
 	grid-row-end: 5;
 	background-color: yellow;
	padding: 10px;
	border-style: solid;
	border-color: green;
	border-width: 5px;

}

.grid-container-foot {
	font-family: remnant;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
	background-color: green;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	}
